html{
    overflow-y: hidden;
}

.skills{
    border-color: rgba(255,255,255,0.5);
}

.skills .button.is-white{
    margin-bottom: 0px;
    margin-right: 0px !important;
    background-color: rgba(250,250,250,0.5);
}

.skills .button.is-white:hover{
    background-color: rgba(240,240,240,0.5);
}

.container{
    padding: 10px;
}

.body-all{
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}